<article>
  <section>
    <h1>List of comments.</h1>
    <ul id="comment_list" data-bind="foreach: comment_list">
      <li data-bind="text: message"></li> 
    </ul>
    <form>
      <input id="input" type="text"></input>
      <input id="button" type="button" value="Submit via Ajax"></input>
    </form>
    <script type="text/javascript">
      // script only inline for contextual purposes
      $('#button').click(function() {
        //alert($('#input').val());
        $.ajax({type:'POST', data:{message:$('#input').val()}});
        $('#input').val('');
      });
    </script>
  </section>
</article>
<aside>
  <h3>DeltraQL Bootstrap</h3>
  <p>This is the simplest possible WebApp built on DeltaQL.  Fork this repo and use it as the base of your DeltaQL WebApp.</p>
</aside>
        